@model MyEShop.Web.ViewModels.CartVM
@{
    ViewBag.Title = "Shopping Cart";
}

@if (Model.CartItems != null)
{
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href=@Url.Action("Index","Home")>Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CartItems)
                    {
                        <tr>
                            <td class="cart_product">
                                <a href=""><img src="images/cart/one.png" alt=""></a>
                            </td>
                            <td class="cart_description">
                                <h4><a>@item.ProductName</a></h4>
                                <p>Web ID: @item.WebId</p>
                            </td>

                            <td class="cart_price">
                                <p>$@item.Price</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <a class="cart_quantity_up"> + </a>
                                    <input class="cart_quantity_input" type="text" name="quantity" data-webId="@item.WebId" value="@item.Count" autocomplete="off" size="2">
                                    <a class="cart_quantity_down"> - </a>
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">$@(item.Count * item.Price)</p>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>What would you like to do next?</h3>
            <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="chose_area">
                    <ul class="user_option">
                        <li>
                            <input type="checkbox">
                            <label>Use Coupon Code</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Use Gift Voucher</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Estimate Shipping &amp; Taxes</label>
                        </li>
                    </ul>
                    <ul class="user_info">
                        <li class="single_field">
                            <label>Country:</label>
                            <select>
                                <option>United States</option>
                                <option>Bangladesh</option>
                                <option>UK</option>
                                <option>India</option>
                                <option>Pakistan</option>
                                <option>Ucrane</option>
                                <option>Canada</option>
                                <option>Dubai</option>
                            </select>

                        </li>
                        <li class="single_field">
                            <label>Region / State:</label>
                            <select>
                                <option>Select</option>
                                <option>Dhaka</option>
                                <option>London</option>
                                <option>Dillih</option>
                                <option>Lahore</option>
                                <option>Alaska</option>
                                <option>Canada</option>
                                <option>Dubai</option>
                            </select>

                        </li>
                        <li class="single_field zip-field">
                            <label>Zip Code:</label>
                            <input type="text">
                        </li>
                    </ul>
                    <a class="btn btn-default update" href="">Get Quotes</a>
                    <a class="btn btn-default check_out" href="">Continue</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Cart Sub Total <span>$59</span></li>
                        <li>Eco Tax <span>$2</span></li>
                        <li>Shipping Cost <span>Free</span></li>
                        <li >Total <span id="totalPrice">$@Model.TotalPrice</span></li>
                    </ul>
                    <a class="btn btn-default update" href="">Update</a>
                    <a class="btn btn-default check_out" href="">Check Out</a>
                </div>
            </div>
        </div>
    </div>
</section>
}
else
{
    <p>No item in cart.</p>
}

@section scripts{
    <script>
        $(document).ready(function () {

            function UpdateItem(id, op, element) {

                var elem = $(element);

                $.ajax({
                    url: '@Url.Action("UpdateItems", "ShoppingCarts")',
                    type: 'GET',
                    dataType: "json",
                    cache: false,
                    data: {
                        itemId: elem.attr("data-webId"),
                        operation: op,
                    },
                    error: function (err) {
                        alert(err.status);
                    }
                }).done(function (data) {
                    if (data.hasOwnProperty('Message')) {
                        alert(data.Message);
                        return;
                    } else {
                        elem.closest('tr').find('.cart_total_price').text("$" + parseFloat(data.itemPrice).toFixed(2));
                        $("#totalPrice").html("$" + parseFloat(data.totalPrice).toFixed(2));
                    }
                });
            }

            
            $(document).on('click', '.cart_quantity_delete', function () {
                var elem = $(this).closest('tr').find('input');
                var self = this;
                if (confirm('Are you sure you want to delete this item?')) {
                    $.ajax({
                        url: '@Url.Action("DeleteItem", "ShoppingCarts")',
                        type: 'GET',
                        dataType: "json",
                        cache: false,
                        data: {
                            itemId: elem.attr("data-webId"),
                        },
                        error: function (err) {
                            alert(err.status);
                        }
                    }).done(function (data) {
                        if (data.hasOwnProperty('Message')) {
                            alert(data.Message);
                            return;
                        } else {
                            $(self).closest('tr').remove();
                            var subtract = parseFloat(data.priceSubtract);
                            var currentTotal = parseFloat($("#totalPrice").text().replace("$", ""));
                            newTotal = parseFloat(currentTotal - subtract);
                            $("#totalPrice").text("$" + parseFloat(newTotal).toFixed(2));
                        }
                    });
                }
            });


            $(document).on('click', '.cart_quantity_up', function () {
                var itemCount = $(this).closest('Div').find('input');
                var currentCount = parseInt(itemCount.val());
                itemCount.val(currentCount + 1);
                UpdateItem(2, 1, itemCount);
            });

            $(document).on('click', '.cart_quantity_down', function () {
                var itemCount = $(this).closest('Div').find('input');
                var currentCount = parseInt(itemCount.val());
                if (currentCount >= 1) {
                    itemCount.val(currentCount - 1);
                    UpdateItem(2, 0, itemCount);
                } else {
                    itemCount.val(0);
                }

            });
        });
    </script>

}