@model IEnumerable<MyEShop.Core.Models.GroupFilter>

@{
    ViewBag.Title = "Manage Filters";
}

<h2>Manage Filters</h2>

<p>
    @Html.ActionLink("Create New", "CreateHeadGroupFilters", "Filters")
</p>

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <ul style="font-weight:bold;">
            @item.Title @Html.ActionLink("Add Group Filter", "AddSubGroupFilters", "Filters", new { id = item.Id }, null) |
            @Html.ActionLink("Edit", "EditFilterGroup", "Filters", new { id = item.Id },null) |
            @Html.ActionLink("Delete", "DeleteFilterGroup", "Filters", new { id = item.Id }, null)
            @if (item.Children != null)
            {
                foreach (var child in item.Children)
                {
                    <ul>
                        <li style="font-weight:normal;">
                            @if (child.FilterItems != null)
                            {
                                @child.Title @Html.ActionLink("Add Filters", "AddFilters", "Filters", new { id = child.Id}, new { @class="filterMargin"}) @Html.ActionLink("Edit", "EditFilterGroup", "Filters", new { id = child.Id}, new { @class = "filterMargin" }) @Html.ActionLink("Delete", "DeleteFilterGroup", "Filters", new { id = child.Id}, new { @class = "filterMargin" })
                                
                            <ul style="font-weight:bold;">

                                    @foreach (var fi in child.FilterItems)
                                {
                                        <li style="font-weight:normal;">
                                            @fi.Title @Html.ActionLink("Edit", "EditFilters", "Filters", new { id = @fi.Id }, null
                                                     ) |
                                            @Html.ActionLink("Delete", "DeleteFilters", "Filters", new { id = @fi.Id }, null)
                                        </li>
                                }
                            </ul>
                            }
                            else
                            {
                                @child.Title
                            }
                        </li>
                    </ul>
                }
            }
        </ul>
    }
}
else
{
    <p>No item found.</p>
}