@model IEnumerable<MyEShop.Core.Models.Auction>

<h3>About Seller</h3>
<div class="brands-name">
    <ul class="nav nav-pills nav-stacked">
        <li>Seller: @ViewBag.UserName</li>
        <li>Member Since: @ViewBag.MemberSince.ToShortDateString()</li>
        <li>City: @ViewBag.City</li>
    </ul>
</div>

<h3>Offers</h3>
<div class="brands-name">
    <ul class="nav nav-pills nav-stacked">
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <li><span>@item.Price</span></li>
            }
        }
        else
        {
            <li>Be the first one to bid.</li>
        }
    </ul>
    <p>@ViewBag.AuctionCount person(s) participated.</p>

</div>
@if (Request.IsAuthenticated)
{

    <div class="price-range" id="auctionDive">
        <h2>Your Offer</h2>
        <div class="well">
            <span style="display:@ViewBag.ErrorDisplay; color:red">@ViewBag.BidError</span>
            <div id="countdownBid"></div>
            @using (Html.BeginForm("","", FormMethod.Post, new { id = "bidForm"} ))
            {
                <span id="offerText" style="display:none; color:red">Your offer is being sent.</span>
                <span style="display:block;">Your offer: <span> @(ViewBag.UserBid ?? 0)</span> </span> <input type="text" class="bid" name="bid" value="">
                <input type="hidden" name="pId" value="@ViewBag.ProductId" />
                <button type="submit" id="btnSubmitForm">Submit</button>
            }          
        </div>
    </div>
}else
{
    <p>Login to bid.</p>
}