@model IEnumerable<MyEShop.Core.Models.Sale>

@{
    ViewBag.Title = "Auctions I Won";
}

<h2>Auctions I Won</h2>

@if (Model.Count() > 0)
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackingCode)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StatusId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrackingCode)
                </td>
                <td>
                    @Html.ActionLink("Pay", "Payment", new { id = item.Id }) |
                    @Html.ActionLink("Details", "AucDetails", "Products", new { id = item.Id }, null)
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                </td>
            </tr>
        }

    </table>
}else{
    <p>No item found.</p>
}