@model IEnumerable<MyEShop.Core.Models.Message>
@{
    ViewBag.Title = "GetMessages";
}

<section>
    <div class="container">
        <div class="row">
            <div class="features_items" id="productItemsPlaceHolder">
                <h2 class="title text-center">Your Messages</h2>
                <p style="color:orange">Messages in orange are already read.</p>
                @if (Model.Count() > 0)
                {
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                
                                <td class="description">Title</td>
                                <td class="total">Date</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    
                                    <td class="description">
                                        @if (item.IsRead)
                                        {
                                            <h4>@Html.ActionLink(@item.Title, "ReadMessage", "Auctions", new { id = @item.Id } , new { style = "color:orange" })</h4>
                                        }
                                        else
                                        {
                                            <h4>@Html.ActionLink(@item.Title,"ReadMessage", "Auctions", new { id = @item.Id}, null)</h4>
                                        }
                                        <p></p>
                                    </td>

                                    <td class="cart_total">
                                        <p class="cart_total_price">@item.Date</p>
                                    </td>
                                    <td class="">
                                        @*<a class="cart_quantity_delete"><i class="fa fa-times"></i></a>*@
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    using (Html.BeginForm("GetMessages", "Auctions", FormMethod.Get, new { id = "pageForm" }))
                    {
                        <input type="hidden" id="pageNumber" name="page" value="" />
                        <ul class="pagination" id="productsPagination">
                            @for (int i = 1; i <= (int)ViewBag.TotalPages; i++)
                            {
                                if (i == (int)ViewBag.Page)
                                {
                                    <li class="active"><a class="page_number">@i.ToString()</a></li>

                                }
                                else
                                {
                                    <li><a class="page_number">@i.ToString()</a></li>
                                }
                            }
                            @*<li><a>&raquo;</a></li>*@
                        </ul>
                    }

                }
                else
                {
                    <p>You have no new messages.</p>
                }

            </div>
        </div>
    </div>
</section>


@section scripts{
    <script>
        $(document).ready(function () {

            $(document).on('click', ".page_number", function (e) {
                e.preventDefault();
                $("#pageNumber").val($(this).text());
                $("#pageForm").submit();
            });
        });
    </script>
}
