@model IList<MyEShop.Web.ViewModels.CategoryVM>
<p>Categories</p>
@Html.ActionLink("Add Root Category", "AddCategory", "Categories", null, new { @class = "filterMargin" })

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <ul>
            @if (item.Children != null)
            {
                <li>
                    @item.CategoryName @Html.ActionLink("Add", "AddSubCategory", "Categories", new { id = item.Id }, new { @class = "filterMargin" })
                    @Html.ActionLink("Edit", "EditSubCategory", "Categories", new { id = item.Id }, new { @class = "filterMargin" }) @Html.ActionLink("Delete", "DeleteSubCategory", "Categories", new { id = item.Id }, new { @class = "filterMargin" })
                    <ul>

                        @foreach (var j in item.Children)
                        {
                            <li>@j.CategoryName @Html.ActionLink("Edit", "EditCategory", "Categories", new { id = j.Id }, new { @class = "filterMargin" }) @Html.ActionLink("Delete", "Delete", "Categories", new { id = j.Id }, new { @class = "filterMargin" })</li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li>@item.CategoryName</li>
            }
        </ul>
    }
}
else
{
    <p>no category has been found.</p>
}
