<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - eShop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    @Html.Partial("_TopHeader")
    @Html.Partial("_HeaderMiddle")
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @Html.Partial("_Footer")

    
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
        itemsNo = $("#itemsInCart");

        function FetchItemsInCart() {
            $.ajax({
                url: '@Url.Action("ItemsInCart", "Products")',
                type: 'GET',
                dataType: "json",
                cache: false,
                error: function (err) {
                    alert(err.status);
                }
            }).done(function (data) {
                if (data.hasOwnProperty('Message')) {
                    alert(data.Message);
                    return;
                }
                if (data.hasOwnProperty('ItemsInCart')) {
                    itemsNo.html(data.ItemsInCart);
                }
            });
        }

        if (true) {
            FetchItemsInCart();
        }
</script>