@model IEnumerable<MyEShop.Core.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free E-Commerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/Website-Images/girl1.jpg" class="girl img-responsive" alt="" />
                                <img src="~/Content/Website-Images/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>100% Responsive Design</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/Website-Images/girl2.jpg" class="girl img-responsive" alt="" />
                                <img src="~/Content/Website-Images/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free Ecommerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/Website-Images/girl3.jpg" class="girl img-responsive" alt="" />
                                <img src="~/Content/Website-Images/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->


<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">

                        @{ Html.RenderAction("Index", "Categories"); }
                    </div>
                    <!--/category-products-->

                    <div class="brands_products">
                        <!--brands_products-->
                        <h2>Brands</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#"> <span class="pull-right">(50)</span>Acne</a></li>
                                <li><a href="#"> <span class="pull-right">(56)</span>Grüne Erde</a></li>
                                <li><a href="#"> <span class="pull-right">(27)</span>Albiro</a></li>
                                <li><a href="#"> <span class="pull-right">(32)</span>Ronhill</a></li>
                                <li><a href="#"> <span class="pull-right">(5)</span>Oddmolly</a></li>
                                <li><a href="#"> <span class="pull-right">(9)</span>Boudestijn</a></li>
                                <li><a href="#"> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
                            </ul>
                        </div>
                    </div><!--/brands_products-->

                    <div class="price-range">
                        <!--price-range-->
                        <h2>Price Range</h2>
                        <div class="well text-center">
                            <div class="slider slider-horizontal" style="width: 174px;"><div class="slider-track"><div class="slider-selection" style="left: 41.6667%; width: 33.3333%;"></div><div class="slider-handle round left-round" style="left: 41.6667%;"></div><div class="slider-handle round" style="left: 75%;"></div></div><div class="tooltip top" style="top: -30px; left: 68px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">250 : 450</div></div><div class="slider slider-horizontal" style="width: 174px;"><div class="slider-track"><div class="slider-selection" style="left: 41.6667%; width: 33.3333%;"></div><div class="slider-handle round left-round" style="left: 41.6667%;"></div><div class="slider-handle round" style="left: 75%;"></div></div><div class="tooltip top" style="top: -30px; left: 68px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">250 : 450</div></div><input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"></div></div><br>
                            <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
                        </div>
                    </div><!--/price-range-->

                    <div class="shipping text-center">
                        <!--shipping-->
                        <img src="images/home/shipping.jpg" alt="">
                    </div><!--/shipping-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items"id="ajaxProducts">
                    <h2 class="title text-center" >Items</h2>
                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="~/Content/Product-Pictures/@item.Image" alt="">
                                            <p id="productName">@item.Name</p>
                                            <h2>@item.Price</h2>
                                            <p id="productDescription">@item.Text</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        <div class="product-overlay">
                                            <div class="overlay-content">
                                                <h2>@item.Price</h2>
                                                <p id="productDescription">@item.Description</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>
                                        </div>
                                        @if (item.Onsale)
                                        {
                                            <img src="~/Content/Product-Pictures/sale.png" class="new" alt="">
                                        }
                                        @if (item.EndDate != null)
                                        {
                                            <img src="~/Content/Product-Pictures/auction.png" class="new" alt="">
                                        }

                                    </div>
                                    <div class="choose">
                                        <ul class="nav nav-pills nav-justified text-center">
                                            <li><i class="fa fa-plus-square ">@Html.ActionLink("Go to product", "Details", "Products", new { id = item.Id }, new { id = "gotoproduct" })</i> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                        using (Ajax.BeginForm("Search", "Products", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "ajaxProducts", InsertionMode = InsertionMode.Replace }, new { id= "ajaxForm" }))
                        {
                            <input type="hidden" name="searchText" value="@(ViewBag.SearchTerm ?? "")">
                            <input type="hidden" name="searchPage" id="searchPageNo" value="1" />
                            <input type="hidden" name="PageStatus" value="@(ViewBag.PageStatus ?? "1")" />

                            <ul class="pagination" id="productsPagination">
                                @for (int i = 1; i <= (int)ViewBag.TotalPages; i++)
                                {
                                    if (i == (int)ViewBag.SearchPage)
                                    {
                                        <li class="active"><a class="page_number">@i.ToString()</a></li>

                                    }
                                    else
                                    {
                                        <li><a class="page_number">@i.ToString()</a></li>
                                    }
                                }
                                @*<li><a>&raquo;</a></li>*@
                            </ul>
                        }
                    }
                    else
                    {
                        <p>No item found.</p>
                    }


                </div><!--features_items-->
            </div>
        </div>
    </div>
</section>

@section scripts{

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script type="text/javascript">
        $(document).on('click', '.page_number', function (e) {
            $("#searchPageNo").val($(this).text());
            $("#ajaxForm").submit();
        });
    </script>
}